services:
    sensehat-dsp-core:
        image: sensehat-dsp-core
        container_name: sensehat-dsp-core
        network_mode: host
        build:
            context: .
            dockerfile: ./docker/core/Dockerfile
            args:
                - PYTHON_VERSION
                - UV_VERSION
                - RTIMULIB_VERSION
                - SENSEHAT_VERSION
        volumes:
            - $PWD/resources:/resources
        env_file:
            - .env
            - .secrets/.env
        privileged: true

    sensehat-dsp-api:
        image: sensehat-dsp-api
        container_name: sensehat-dsp-api
        network_mode: host
        build:
            context: .
            dockerfile: ./docker/api/Dockerfile
            args:
                - API_PORT
        volumes:
            - $PWD/resources:/resources
        env_file:
            - .env
            - .secrets/.env
        restart: unless-stopped
        ports:
            - ${API_PORT}:${API_PORT}
        privileged: true
