services:
    sensehat-dsp-devcontainer:
        network_mode: host
        image: sensehat-dsp-devcontainer
        container_name: sensehat-dsp-devcontainer
        build:
            context: ..
            dockerfile: .devcontainer/Dockerfile
        volumes:
            - ..:/workspace:cached
            - ../resources/:/resources
        env_file:
            - ../.env
            - ../.secrets/.env
        privileged: true
        # This keeps the devcontainer running.
        entrypoint: ["tail", "-f", "/dev/null"]
