services:
    sensehat-dsp-devcontainer:
        network_mode: host
        image: sensehat-dsp-devcontainer
        container_name: sensehat-dsp-devcontainer
        build:
            context: ..
            dockerfile: .devcontainer/Dockerfile
        volumes:
            - ..:/workspace:cached
        # Please do not comment or remove this line!
        command: /bin/sh -c "while sleep 1000; do :; done"
